/.idea
/target
/project
/test_run_dir
/.bsp
*.fir
*.anno.json
/.idea/
/hardware/.bsp/
/hardware/.idea/
/hardware/project/
/hardware/synthesis/rvbasys3.cache/
/hardware/synthesis/rvbasys3.hw/
/hardware/synthesis/rvbasys3.ip_user_files/
/hardware/synthesis/rvbasys3.sim/
/hardware/target/
/output/
